@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3{
  font-size: 45px;
}
h6{
  font-size: 12px;
}

.clubbutton a{
  background-color:#1e1d3c;
  display: block;
  padding: 30px;
  width: 140px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

.clubbutton a:hover{
  background-color: #141326;
  width: 500px;
  height: 175px;
  transition-property: width height;
  transition-duration: 1s;
}

.clubbutton a:hover p{
  color: #ffffff;
  visibility: visible;
  transition: all;
  transition-duration: 1s;
}
.clubbutton p{
  visibility: hidden;
  color: #ffffff00;
}
